<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="shortFormatDateBean" class="com.springtest.bean.date.ShortFormatDateBean">
    </bean>

    <bean id="fullFormatDateBean" class="com.springtest.bean.date.FullFormatDateBean">
    </bean>

</beans>